﻿
/* ---------------------------------------------
  Audio Player
------------------------------------------------ */
div.jp-audio{color: #666;position:relative;width:100%;margin-bottom:20px;direction:ltr;overflow:hidden;}
.jp-interface {
    position: relative;
    width:100%;
    height: 35px;
    background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#d1d1d1');
    border-top: 1px solid white;
    -webkit-box-shadow: inset 0px 1px 0px #f7f7f7,0 0 1px #222;
    -moz-box-shadow: inset 0px 1px 0px #f7f7f7,0 0 1px #222;
    box-shadow: inset 0px 1px 0px #f7f7f7,0 0 1px #222;
}
div.jp-controls-holder {
    clear: both;
    width:570px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
}
a.jp-play,a.jp-pause {
    width:40px;
    height:35px;
    float:left;
    text-indent:-9999px;
    outline:none;
}
a.jp-play {background: url("../images/jplayer/sprite.png") 0 0 no-repeat;}
a.jp-pause {background: url("../images/jplayer/sprite.png") -40px 0 no-repeat;display: none;}
.separator {
    background-image:url("../images/jplayer/separator.png");
    background-repeat:no-repeat;
    width: 2px;
    height: 35px;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}
.separator.sep-2{ margin-left:10px;}
.jp-progress {
    background: #706d6d;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    width:439px;
    height:10px;
    float:left;
    margin-top: 13px;
}
.post.w3 .jp-progress {width:266px;}
.post.w2 .jp-progress {width:101px;}
.post.w1 .jp-progress {width:140px;}
.post.w1 .jp-mute ,.post.w1 .jp-unmute , .post.w1 .jp-volume-bar , .post.w1 .separator {display:none !important;}
.jp-seek-bar {
    width:0px;
    height:100%;
    cursor: pointer;
}
.jp-seeking-bg {
    background:#575555;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.jp-play-bar {
    background: url("../images/jplayer/play-bar.png") left repeat-x;
    width:0px;
    height:10px;
    position:relative;
    z-index: 9999;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.jp-play-bar span {
    position:absolute;
    top: -3px;
    right: -12px;
    background:url("../images/jplayer/handle.png") no-repeat center;
    width: 16px;
    height: 17px;
}
.jp-audio a.jp-mute,
.jp-audio a.jp-unmute {
    text-indent:-9999px;
    float:left;
    height: 35px;
    outline:none;
}
.jp-mute {
    float:left;
    background: url(../images/jplayer/sprite.png) -80px 0 no-repeat;
    margin-top: 1px;
    margin-left: -10px;
    width: 35px;
}
a.jp-unmute {
    background: url(../images/jplayer/sprite.png) -115px 0 no-repeat;
    margin-top: 1px;
    margin-left: -13px;
    display: none;
    width: 38px;
}
.jp-volume-bar {
    float:left;
    margin-top: 13px;
    margin-right: 10px;
    overflow:hidden;
    width:70px;
    height:10px;
    cursor: pointer;
    background: #706d6d;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
}
.jp-volume-bar-value {
    background: transparent;
    width:0px;
    height:10px;
    position: relative;
}
.jp-volume-bar-value span {
    position:absolute;
    top: 0px;
    right: 0px;
    background:url(../images/jplayer/volume.png) no-repeat center;
    width: 11px;
    height: 10px;
}
	