

/*  -------------------------------------- */
/*  Mohannad Qamara | Sawa4.Com.Eg */
/*  -------------------------------------- */
.collapsibleList li {
    list-style-image: url('button.png');
	cursor: auto; }

li.collapsibleListOpen {
	list-style-image: url('http://islamselect.net/sites/all/modules/tree/tree/def/rtl/folderopen.gif');
	cursor: pointer; }

li.collapsibleListClosed {
	list-style-image: url('http://islamselect.net/sites/all/modules/tree/tree/def/rtl/folder.gif');
	cursor: pointer; }

body {
	background: #000000;
	margin: 0;
	padding: 0;
	font-family: HelveticaNeueBold,arial,tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #003965;
	direction: rtl; }

a {
	color: inherit;
	text-decoration: none; }

* {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear; }

.spacerline {
	clear: both;
	padding: 10px; }

@font-face {
	font-family: "HelveticaNeueBold";
	src: url("../fonts/HelveticaNeueW23forSKY-Bd.eot");
	src: url("../fonts/HelveticaNeueW23forSKY-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueW23forSKY-Bd.woff") format("woff"), url("../fonts/HelveticaNeueW23forSKY-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueW23forSKY-Bd.svg#HelveticaNeueLTArabic55Roman") format("svg");
	font-weight: bold; }

.radius,.box, #header .leftcontent .menu ul li,.box .boxcenter p .readmore,.box .boxcenter .blocksmall .maillist .searchinput,.box .boxcenter .liberary .readmore,.box .boxcenter .archivesinglelist ul li ul li .date {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px; }

.radiussmall,.box .bx-wrapper .bx-pager a, .box .boxcenter .blocksmall .buttons a,.starredarticles .leftbutton,.starredarticles .rightbutton,.starredarticles .content,.starredarticles .buttons ul li,.starredarticles .bx-wrapper .bx-pager a,.box .boxcenter .media .voice .content ul li .icons .icon,.box .boxcenter .articles .readmore,.box .boxtop .titlebg .title ul li a:hover,.box .boxtop .titlebg .title ul li.ui-state-active,.box .boxcenter .mostread .target li,#sliderbox .leftcontent .headmaster .content .bx-wrapper .bx-pager a,.box .boxcenter .blocksmall .navigation li,.box .boxcenter .media .voice .content ul li .icons .icon.listen .jp-pause {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; }

*:focus {
	outline: none; }

#wrapper {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	background: #F3F3F3 url(../images/bg.png) repeat top center; }

/*div.bx-pager{display: none !important;}*/
#topbar {
	background: url(../images/ahloman_04.png) repeat-x top center;
	width: 1000px;
	height: 34px;
	 }

	#topbar .datebg {
		background: url(../images/ahloman_01.png) repeat-x top center;
		width: 368px;
		height: 34px;
		float: left;
		display: inline-block; }

	#topbar .date {
		background: url(../images/ahloman_03.png) no-repeat top right;
		padding: 13px 68px 1px 10px;
		width: 290px;
		height: 20px;
		color: #FFFFFF;
		text-align: left; }

	#topbar .content {
		width: 600px;
		height: 34px;
		float: right;
		display: inline-block; }

		#topbar .content ul { display: inline-block; }

			#topbar .content ul li {
				display: inline-block;
				padding: 7px 10px 1px 10px;
				font-size: 14px;
				float: right;
				height: 21px;
				border-right: 1px solid #F3F3F3;
				border-left: 1px solid #AEAEAE;
				background: url(../images/ahloman_04.png) repeat-x top center; }

				#topbar .content ul li:hover { background: url(../images/ahloman_04-hover.png) repeat-x top center; }

				#topbar .content ul li ul { display: none; }

#header {
	background: #085D90 url(../images/headerbg.png) no-repeat top center;
	width: 1000px;
	height: 200px;
	}

	#header .leftcontent {
		padding-left: 10px;
		width: 500px;
		height: 200px;
		float: left;
		display: inline-block; }

		#header .leftcontent .search {
			margin-top: 10px;
			width: 500px;
			height: 60px;
			background: url(../images/ahloman_09.png) no-repeat top center; }

			#header .leftcontent .search .searchinput {
				margin: 15px 75px 0 0;
				width: 400px;
				height: 24px;
				border: 0;
				background: transparent;
				color: #FFFFFF;
				font-family: HelveticaNeueBold,arial,tahoma;
				font-size: 12px; }

			#header .leftcontent .search span {
				margin: 4px 0 0 30px;
				color: #042231;
				text-shadow: 0 1px 0 #34FFFF;
				font-size: 10px;
				float: left;
				width: 95px;
				text-align: center; }

.box .search { margin-top: 10px; }

	.box .search .searchinput {
		margin: 5px;
		width: 400px;
		height: 30px;
		border: 1px solid #CCCCCC;
		font-family: HelveticaNeueBold,arial,tahoma;
		font-size: 12px; }

#header .leftcontent .menu {
	margin-top: 30px;
	width: 500px;
	height: 85px; }

	#header .leftcontent .menu ul { display: inline-block; }

		#header .leftcontent .menu ul li {
			width: 60px;
			height: 80px;
			margin: 0 4px 0 4px;
			float: right;
			display: inline-block;
			background: #C9CACC url(../images/topmenubg.png) repeat-x top center;
			border: 1px solid #FFFFFF; }

			#header .leftcontent .menu ul li ul { display: none; }

			#header .leftcontent .menu ul li a {
				padding-top: 40px;
				width: 60px;
				height: 40px;
				display: block;
				font-size: 11px;
				text-align: center; }

				#header .leftcontent .menu ul li a .icon {
					margin: 5px 10px;
					width: 40px;
					height: 40px;
					display: block;
					font-size: 11px;
					text-align: center; }

			#header .leftcontent .menu ul li:hover {
				background: #004C87;
				border-color: #008AF4; }

				#header .leftcontent .menu ul li:hover a { color: #FFFFFF; }

	#header .leftcontent .menu .item1 a { background: url(../images/topmenuitems.png) no-repeat -300px 0; }

	#header .leftcontent .menu ul li.item1:hover a { background: url(../images/topmenuitems.png) no-repeat -300px -90px; }

	#header .leftcontent .menu .item2 a { background: url(../images/topmenuitems.png) no-repeat -250px 0; }

	#header .leftcontent .menu ul li.item2:hover a { background: url(../images/topmenuitems.png) no-repeat -250px -90px; }

	#header .leftcontent .menu .item3 a { background: url(../images/topmenuitems.png) no-repeat -200px 0; }

	#header .leftcontent .menu ul li.item3:hover a { background: url(../images/topmenuitems.png) no-repeat -200px -90px; }

	#header .leftcontent .menu .item4 a { background: url(../images/topmenuitems.png) no-repeat -150px 0; }

	#header .leftcontent .menu ul li.item4:hover a { background: url(../images/topmenuitems.png) no-repeat -150px -90px; }

	#header .leftcontent .menu .item5 a { background: url(../images/topmenuitems.png) no-repeat -100px 0; }

	#header .leftcontent .menu ul li.item5:hover a { background: url(../images/topmenuitems.png) no-repeat -100px -90px; }

	#header .leftcontent .menu .item6 a { background: url(../images/topmenuitems.png) no-repeat -50px 0; }

	#header .leftcontent .menu ul li.item6:hover a { background: url(../images/topmenuitems.png) no-repeat -50px -90px; }

	#header .leftcontent .menu .item7 a { background: url(../images/topmenuitems.png) no-repeat 0px 0; }

	#header .leftcontent .menu ul li.item7:hover a { background: url(../images/topmenuitems.png) no-repeat 0px -90px; }

#header .rightcontent {
	width: 490px;
	height: 200px;
	float: right;
	display: inline-block; }

	#header .rightcontent .titles {
		padding-top: 60px;
		width: 250px;
		float: left;
		display: inline-block;
		text-align: center; }

		#header .rightcontent .titles h3 {
			font-size: 12px;
			color: #023c4b;
			padding: 5px;
			text-shadow: 0 0 5px #DAF3FC; }

		#header .rightcontent .titles h2 {
			font-size: 18px;
			color: #FFFFFF;
			padding: 5px;
			text-shadow: 0 2px 0 #0082CC; }

		#header .rightcontent .titles h1 {
			font-size: 21px;
			color: #FFFFFF;
			padding: 5px;
			text-shadow: 0 3px 0 #00649F; }

	#header .rightcontent .logo {
		width: 235px;
		height: 200px;
		float: right;
		display: inline-block;
		background: url(../images/logo.png) no-repeat top center; }

#latestbar {
	background: url(../images/ahloman_35.png) repeat-x top center;
	width: 1000px;
	height: 30px;
	font-size: 14px;
	display: inline-block; }

	#latestbar .content {
		width: 850px;
		height: 20px;
		float: left;
		display: inline-block;
		padding: 9px 0 1px 0; }

	#latestbar .titlebg {
		background: url(../images/ahloman_39.png) repeat-x top center;
		width: 123px;
		height: 30px;
		float: right;
		display: inline-block; }

	#latestbar .title {
		background: url(../images/ahloman_38.png) no-repeat top left;
		padding: 5px 10px 1px 23px;
		width: 90px;
		height: 24px;
		font-size: 16px;
		color: #FFFFFF; }

#sliderbox {
	background: #0092D6;
	width: 960px;
	height: 260px;
	padding: 20px;
	display: inline-block; }

	#sliderbox .leftcontent {
		width: 350px;
		float: left;
		display: inline-block; }

		#sliderbox .leftcontent .social {
			margin: 0 40px;
			width: 260px;
			height: 30px;
			margin-bottom: 10px;
			text-align: center; }

			#sliderbox .leftcontent .social a {
				width: 30px;
				height: 30px;
				display: inline-block;
				float: none;
				margin: 0 5px; }

				#sliderbox .leftcontent .social a.rss { background: url(../images/ahloman_52.png) no-repeat top center; }

				#sliderbox .leftcontent .social a.facebook { background: url(../images/ahloman_50.png) no-repeat top center; }

				#sliderbox .leftcontent .social a.twitter { background: url(../images/ahloman_48.png) no-repeat top center; }

				#sliderbox .leftcontent .social a.gplus { background: url(../images/ahloman_46.png) no-repeat top center; }

				#sliderbox .leftcontent .social a.youtube { background: url(../images/ahloman_44.png) no-repeat top center; }

		#sliderbox .leftcontent .headmaster { width: 350px; }

			#sliderbox .leftcontent .headmaster h1 {
				margin: 10px 0;
				padding: 10px;
				width: 330px;
				font-size: 15px;
				text-shadow: 0 0 10px #FFFFFF,0 1px 0 #BFEFF9;
				border-bottom: 1px solid #0054B4;
				text-align: center; }

			#sliderbox .leftcontent .headmaster .content {
				margin-top: 5px;
				padding: 10px;
				width: 330px;
				height: 140px;
				background: #00436D;
				box-shadow: inset 0 0 10px #000000;
				font-size: 12px;
				overflow: hidden;
				position: relative; }

				#sliderbox .leftcontent .headmaster .content ul { display: inline-block; }

					#sliderbox .leftcontent .headmaster .content ul li {
						display: inline-block;
						width: 330px;
						height: 150px; }

						#sliderbox .leftcontent .headmaster .content ul li h2 {
							padding: 5px 0 0 0;
							color: #DEDEDE;
							font-size: 20px; }

						#sliderbox .leftcontent .headmaster .content ul li h3 {
							padding: 5px 0;
							color: #0da1c3;
							font-size: 12px; }

						#sliderbox .leftcontent .headmaster .content ul li p {
						    text-align: justify;
							padding: 5px 0;
							color: #FFFFFF;
							font-size: 14px;
							line-height: 20px; }

							#sliderbox .leftcontent .headmaster .content ul li p a { color: #0da1c3; }

				#sliderbox .leftcontent .headmaster .content .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
					left: 35%;
					width: 100px; }

				#sliderbox .leftcontent .headmaster .content .bx-wrapper .bx-pager a {
					text-align: center;
					padding: 2px;
					width: 10px;
					height: 10px;
					background: #0086B7;
					color: #FFFFFF;
					font-size: 11px;
					font-family: HelveticaNeueBold,arial,tahoma;
					box-shadow: 0 2px 0 #00253C; }

					#sliderbox .leftcontent .headmaster .content .bx-wrapper .bx-pager a:hover,#sliderbox .leftcontent .headmaster .content .bx-wrapper .bx-pager a.pager-active {
						background: #FFFFFF;
						color: #0086B7;
						box-shadow: 0 2px 0 #006A93; }

	#sliderbox .rightcontent {
		width: 600px;
		float: right;
		display: inline-block; }

		#sliderbox .rightcontent .slider {
			width: 600px;
			height: 250px; }

			#sliderbox .rightcontent .slider .sliderbox {
				width: 600px;
				height: 220px;
				overflow:hidden; }

				#sliderbox .rightcontent .slider .sliderbox .titles {
					width: 250px;
					height: 220px;
					background: #FFFFFF;
					float: left; }

					#sliderbox .rightcontent .slider .sliderbox .titles { display: inline-block; }

						#sliderbox .rightcontent .slider .sliderbox .titles a {
							padding: 10px;
							width: 230px;
							height: 35px;
							display:block;
							background: url(../images/ahloman_55.png) repeat-x top center; }

							#sliderbox .rightcontent .slider .sliderbox .titles a:hover { background: url(../images/ahloman_62.png) repeat-x top center; }

				#sliderbox .rightcontent .slider .sliderbox .images {
					width: 350px;
					height: 231px;
					background: #C4C4C6;
					float: right; }
					
					#sliderbox .rightcontent .slider .sliderbox .images img {
						width: 100%; }

			#sliderbox .rightcontent .slider .slideritems {
				width: 600px;
				height: 30px;
				background: #FEFEFE url(../images/ahloman_69.png) repeat-x top center; }
				
				#top-slider-holder {
					width:350px;
					float:right;
				}
				
				#topslider .bx-wrapper {
					width:350px !important;
				}
				
					#sliderbox .bx-wrapper .bx-viewport {
						border:0 none;
						box-shadow:0 0 0 #fff;
						left:inherit;
						background-color:transparent;
					}

.container {
	padding: 20px;
	width: 960px;
	display: inline-block; }

	.container .topcontentleft {
		width: 290px;
		float: left; }

	.container .topcontentright {
		width: 650px;
		float: right; }

	.container .mediumcontent {
		width: 310px;
		float: right; }

#footer {
	background: #002853 url(../images/footerbg.png) no-repeat top center;
	width: 1000px;
	height: 170px;
	display: inline-block; }

	#footer .topcontent {
		padding: 20px 20px 0 20px;
		width: 960px;
		height: 100px;
		display: inline-block; }

		#footer .topcontent .aboutsite {
			width: 450px;
			height: 100px;
			display: inline-block;
			float: left;
			color: #2BA5DE;
			line-height: 18px; }

		#footer .topcontent .rightmenu {
			width: 500px;
			height: 100px;
			display: inline-block;
			float: right;
			background: url(../images/logosmall.png) no-repeat top right; }

			#footer .topcontent .rightmenu ul {
				width: 300px;
				display: inline-block;
				float: left; }

				#footer .topcontent .rightmenu ul li {
					width: 140px;
					display: inline-block;
					float: right;
					margin: 5px;
					font-size: 14px;
					color: #FFFFFF; }

					#footer .topcontent .rightmenu ul li:hover { color: #2BA5DE; }

	#footer .bottomcontent {
		padding: 18px 20px 0 20px;
		width: 960px;
		height: 30px;
		display: inline-block;
		font-size: 14px;
		color: #FFFFFF; }

		#footer .bottomcontent small {
			display: inline-block;
			font-size: 12px;
			color: #FFFFFF;
			float: left;
			margin: 0 20px; }

/* BOX */
.box .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	top: 15px;
	left: 10px;
	width: 60px; }

.box .bx-wrapper .bx-pager a {
	text-align: center;
	padding: 0;
	width: 5px;
	height: 5px;
	background: #003D69;
	color: #003D69;
	font-size: 1px; }

	.box .bx-wrapper .bx-pager a:hover,.box .bx-wrapper .bx-pager a.pager-active {
		background: #0086B7;
		color: #0086B7; }

.box {
	width: 100%;
	display: inline-block;
	position: relative; }

.box.most-post {
    margin-top: 30px;
}

	.box .boxtop {
		width: 100%;
		height: 35px;
		display: inline-block;
		background: url(../images/ahloman_83.png) repeat-x top center;
		border-radius: 15px 0 0 0; }

		.box .boxtop .morelink {
			margin: 10px;
			display: inline-block;
			float: left;
			color: #002727;
			text-shadow: 0 1px 0 #FFFFFF; }

		.box .boxtop .titlebg {
			min-width: 180px;
			height: 35px;
			display: inline-block;
			background: url(../images/ahloman_85.png) repeat-x top center;
			float: right;
			border-radius: 0 10px 0 0; }

			.box .boxtop .titlebg .title {
				min-width: 130px;
				height: 25px;
				display: inline-block;
				background: url(../images/ahloman_84.png) no-repeat top left;
				padding: 9px 10px 1px 50px;
				font-size: 14px;
				color: #FFFFFF; }

				.box .boxtop .titlebg .title .icon {
					width: 25px;
					height: 25px;
					display: inline-block;
					margin-top: -5px;
					margin-left: 10px;
					float: right;
					background-repeat: no-repeat;
					background-position: top right; }

.icon01 { background-image: url(../images/icon01.png); }

.icon02 { background-image: url(../images/icon02.png); }

.icon03 { background-image: url(../images/icon03.png); }

.icon04 { background-image: url(../images/icon04.png); }

.icon05 { background-image: url(../images/icon05.png); }

.icon06 { background-image: url(../images/icon06.png); }

.icon07 { background-image: url(../images/icon07.png); }

.icon08 { background-image: url(../images/icon08.png); }

.icon09 { background-image: url(../images/icon09.png); }

.icon10 { background-image: url(../images/icon10.png); }

.icon11 { background-image: url(../images/icon11.png); }

.icon12 { background-image: url(../images/icon12.png); }

.box .boxtop .titlebg .title ul { display: inline-block; }

	.box .boxtop .titlebg .title ul li {
		padding: 0 5px;
		display: inline-block;
		border-right: 1px solid #007DA8;
		border-left: 1px solid #002F52;
		float: right;
		font-size: 12px; }

		.box .boxtop .titlebg .title ul li a {
			padding: 5px 10px;
			display: inline-block; }

			.box .boxtop .titlebg .title ul li a:hover { background: #002037; }

		.box .boxtop .titlebg .title ul li.ui-state-active { background: #002037; }

.box .boxcenter {
	padding: 10px;
	background: #FFFFFF;
	box-shadow: inset 0 0 10px #969696;
	border: 1px solid #9FB7C9;
	border-radius: 0 0 10px 10px; }

.insidesinglepost .title {
	padding: 10px 5px 20px 5px;
	border-bottom: 1px solid #003965; }
.insidesinglepost iframe {
	display: block;
    margin: 30px auto;
}
.insidesinglepost .addthis_toolbox a iframe {
	display: inline-block;
    margin: 0;
}
.insidesinglepost .date {
	margin:10px 10px 0 0;
}
.insidesinglepost .date span {
	display:inline-block;
	margin-left:10px;
	float:right;
	color:#999;
}
.insidesinglepost .date a {
	color:#999;
}
.insidesinglepost .date span strong {
	color:#003965;
}
.insidesinglepost .share-btns span {
    float: right;
}
.box .boxcenter .weeklyword h1 {
	font-size: 22px;
	font-weight: normal;
	margin: 20px 10px; }

.box .boxcenter .weeklyword p {
    text-align: justify;
    font-size: 14px;
	line-height: 18px;
	margin: 20px 10px 5px 10px; }

	.box .boxcenter .weeklyword p .readmore {
		display: block;
		margin: 30px 0 0 0;
		padding: 10px;
		width: 130px;
		background: #003A66;
		font-size: 14px;
		color: #FFFFFF;
		text-align: center;
		box-shadow: 0 3px 0 #002037;
		float: left; }

		.box .boxcenter .weeklyword p .readmore:hover {
			background: #00A7E8;
			color: #003A66; }

.box .boxcenter .blocksmall .ulcontent {
	display: inline-block;
	width: 100%;
	overflow: hidden }

	.box .boxcenter .blocksmall .ulcontent ul { width: 1620px; }

		.box .boxcenter .blocksmall .ulcontent ul li {
			padding: 10px;
			border-bottom: 1px solid #DDDDDD;
			display: inline-block;
			width: 248px;
			font-size: 14px;
			float: right;
			position: relative; }

			.box .boxcenter .blocksmall .ulcontent ul li:hover {
				background: #F5F5F5;
				color: #005391; }

			.box .boxcenter .blocksmall .ulcontent ul li .title {
				width: 160px;
				float: left; }

			.box .boxcenter .blocksmall .ulcontent ul li .image {
				width: 75px;
				height: 60px;
				float: right;
				background: #DDDDDD; }

.box .boxcenter .blocksmall .panel {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	width: 248px;
	font-size: 14px;
	float: right;
	position: relative; }

	.box .boxcenter .blocksmall .panel:hover {
		background: #F5F5F5;
		color: #005391; }

	.box .boxcenter .blocksmall .panel .title {
		width: 160px;
		float: left; }

	.box .boxcenter .blocksmall .panel .image {
		width: 60px;
		height: 60px;
		float: right;
		background: #DDDDDD; }

.box .boxcenter .blocksmall .navigation {
	display: inline-block;
	width: 100%; }

	.box .boxcenter .blocksmall .navigation li {
		display: block;
		background: #004C76;
		color: #FFFFFF;
		font-size: 11px;
		width: 65px;
		float: right;
		margin: 5px;
		padding: 5px;
		text-align: center;
		box-shadow: 0 3px 0 #002037; }

		.box .boxcenter .blocksmall .navigation li:hover {
			background: #00A7E8;
			color: #004C76; }

		.box .boxcenter .blocksmall .navigation li.ui-state-active { color: #00A7E8; }

			.box .boxcenter .blocksmall .navigation li.ui-state-active:hover { color: #000000; }

.box .boxcenter .blocksmall ul {
	display: inline-block;
	width: 100%; }

	.box .boxcenter .blocksmall ul li {
		display: inline-block;
		width: 100%; }
		
		.box .boxcenter .blocksmall ul li ul {
			padding-top:10px;
		}

		.box .boxcenter .blocksmall ul li ul li {
			padding: 10px;
			border-top: 1px solid #DDDDDD;
			border-bottom: 0 none;
			display: block;
			width: auto;
			font-size: 12px;
			overflow: hidden;
			/*float: right;*/
			position: relative; }

		.box .boxcenter .blocksmall ul li ul li:last-of-type {
			padding-bottom: 0px; }

			.box .boxcenter .blocksmall ul li ul li:hover {
				background: #F5F5F5;
				color: #005391; }

			.box .boxcenter .blocksmall ul li ul li .title {
				width: 160px;
				float: left; }

			.box .boxcenter .blocksmall ul li ul li .image {
				width: 75px;
				height: 60px;
				float: right;
				background: #DDDDDD; }

.box .boxcenter .blocksmall .buttons {
	display: inline-block;
	width: 100%; }

	.box .boxcenter .blocksmall .buttons a {
		display: block;
		background: #004C76;
		color: #FFFFFF;
		font-size: 11px;
		width: 65px;
		float: left;
		margin: 5px;
		padding: 5px;
		text-align: center;
		box-shadow: 0 3px 0 #002037; }

		.box .boxcenter .blocksmall .buttons a:hover {
			background: #00A7E8;
			color: #004C76; }

.box .boxcenter .blocksmall .maillist { padding: 5px; }

	.box .boxcenter .blocksmall .maillist .searchinput {
		margin: 5px;
		padding: 5px;
		width: 230px;
		height: 20px;
		border: 0;
		background: #EBEBEC;
		color: #555555;
		font-family: HelveticaNeueBold,arial,tahoma;
		font-size: 12px; }

	.box .boxcenter .blocksmall .maillist .button a {
		display: block;
		background: #004C76;
		color: #FFFFFF;
		font-size: 11px;
		width: 85px;
		float: right;
		margin: 5px;
		padding: 5px;
		text-align: center;
		box-shadow: 0 3px 0 #002037; }

		.box .boxcenter .blocksmall .maillist .button a:hover {
			background: #00A7E8;
			color: #004C76; }

.box .boxcenter .archivesinglelist ul {
	display: inline-block;
	width: 100%; }

	.box .boxcenter .archivesinglelist ul li {
		display: inline-block;
		width: 100%; }

		.box .boxcenter .archivesinglelist ul li ul li {
			padding: 5px;
			border-bottom: 1px solid #DDDDDD;
			display: inline-block;
			width: 618px;
			float: right;
			position: relative; }

			.box .boxcenter .archivesinglelist ul li ul li:hover {
				background: #F5F5F5;
				color: #005391; }

			.box .boxcenter .archivesinglelist ul li ul li .title {
		     	text-align: justify;
		 		width: 520px;
				float: left; }

				.box .boxcenter .archivesinglelist ul li ul li .title h1 {
					padding: 5px;
					font-size: 15px; }

				.box .boxcenter .archivesinglelist ul li ul li .title p {
			     	text-align: justify;
					padding:0 5px 5px 5px;
					font-size: 13px;
					line-height:18px;
					color: #444; }

			.box .boxcenter .archivesinglelist ul li ul li .image {
				width: 75px;
				min-height: 60px;
				float: right;
				background: #DDDDDD; }

			.box .boxcenter .archivesinglelist ul li ul li .date {
				width: 598px;
				display: inline-block;
				background: #E6E6E6;
				margin: 10px 0 0 0;
				padding: 5px 10px;
				color: #333333;
				text-shadow: 0 1px 0 #FFFFFF;
				font-size: 11px;
				font-family: tahoma;
				box-shadow: inset 0 0 5px #999999; }

				.box .boxcenter .archivesinglelist ul li ul li .date span { margin: 0 5px; }


.box .boxcenter .archivesinglelist ul.author-links {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}
				
	.box .boxcenter .archivesinglelist ul.author-links li {
		width:auto;
		float:right;
		font-size: 16px;
	    margin: 15px 5px 20px 10px;
	}
	
	.box .boxcenter .archivesinglelist .social {
			margin: 10px;
			padding:5px;
			width: auto;
			height: 30px;
			clear: both;
    		float: right;
			text-align: right;
			background-color: #0092D6; }

			.box .boxcenter .archivesinglelist .social a {
				width: 30px;
				height: 30px;
				display: inline-block;
				float: none;
				margin: 0 5px; }

				.box .boxcenter .archivesinglelist .social a.rss { background: url(../images/ahloman_52.png) no-repeat top center #0092D6; }

				.box .boxcenter .archivesinglelist .social a.facebook { background: url(../images/ahloman_50.png) no-repeat top center #0092D6; }

				.box .boxcenter .archivesinglelist .social a.twitter { background: url(../images/ahloman_48.png) no-repeat top center #0092D6; }

				.box .boxcenter .archivesinglelist .social a.gplus { background: url(../images/ahloman_46.png) no-repeat top center #0092D6; }

				.box .boxcenter .archivesinglelist .social a.youtube { background: url(../images/ahloman_44.png) no-repeat top center #0092D6; }

	
.authors-list-title {
    padding: 15px 15px 0;
}
	.authors-list-title span {
	    float: left;
	}
	
.archivesinglelist ul.authors-list {
    border-top: 1px solid #CCCCCC;
    margin-top: 15px;
    padding-top: 0;
    margin-bottom: 15px;
}
				
	.box .boxcenter .archivesinglelist ul.authors-list li {
		border-bottom: 1px solid #CCCCCC;
	    clear: both;
	    display: block;
	    margin: 0;
	    padding: 10px 35px 10px 15px;
	    text-align: center;
	    width: auto;
	    font-family: arial;
    	font-size: 14px;
	    color: #555;
	    font-weight: normal !important;
	    background:no-repeat url(../images/pencil.png) 600px center transparent;
	    background-size:20px 20px;
	}
		
		.box .boxcenter .archivesinglelist ul.authors-list li a {
			color: #003965;
	    	font-family: "HelveticaNeueBold",arial,tahoma;
		    float: right;
		    font-size: 14px;
		    text-align: right;
		    width: 510px;
		}
	
.archivesinglelist .navigation {
	margin: 15px 5px 10px 0;
    overflow: hidden;
}
	
	.archivesinglelist .navigation a {
	    padding: 10px 20px;
	    display: inline-block;
		color: #FFFFFF;
		text-align: center;
		box-shadow: 0 3px 0 #002037;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		background-color: #004C76;
	}

	.archivesinglelist .navigation a:hover {
		background: #00A7E8;
		color: #004C76; }
		
	.archivesinglelist .navigation .alignleft a {
	    margin-left:5px;
	}

.box .insidesinglepost p {
    text-align: justify;
	padding: 10px;
	font-size: 14px;
	line-height: 22px; }
	
	
.author-box img {
	float:right;
	max-width:150px;
	float:right;
	margin:0 0 15px 15px;
}

.social-links {
	margin:10px 0 !important;
}

.social-links a {
	margin:0 0 0 5px !important;
}

.social-links a img {
	width:32px;
}

table.total {
	width:100%;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align:center;
}

table.total td, table.total th {
	padding:10px;
	font-size:12px;
	color:#777;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
}

table.total th {
	color:#555;
	font-weight:bold;
}

table.total .total-count td {
	font-size:14px;
	color:#003965;
}

table.total .total-count td:last-child {
	text-align:right;
}

table.total a {
	display:block;
}

.box .insidesinglepost .file-info p,
.box .archivesinglelist .file-info p {
	padding: 10px 10px 0px 10px;
	color:#555;
	font-size: 12px; }

.box .insidesinglepost .file-info p span,
.box .archivesinglelist .file-info p span {
	color: #003965;
	font-size: 14px;
    margin-left: 5px; }

.box .insidesinglepost .file-info.post-info {
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    padding-top: 15px;
}

.box .insidesinglepost .file-info.post-info p {
	line-height:12px;
	padding:2px 10px 8px 0;
}

.box .aligncenter { margin: 0 auto; }

.box .alignright {
	float: right;
	margin: 10px 0 10px 10px; }

.box .alignleft {
	float: left;
	margin: 10px 10px 10px 0; }

.box .wp-caption {
	background: #F6F6F6;
	text-align: center;
	padding: 5px; }

	.box .wp-caption img { border: 2px solid #E7E7E7; }

.box .wp-caption-text {
	margin: 5px !important;
	padding: 0 !important; }

.box blockquote {
	background: #F6F6F6;
	border-right: 5px solid #E7E7E7; }

.box .boxcenter .insidesinglepostarticles { display: inline-block; }

	.box .boxcenter .insidesinglepostarticles ul {
		display: inline-block;
		width: 100%;
		font-size: 12px; }

		.box .boxcenter .insidesinglepostarticles ul li {
			padding: 10px;
			width: 248px;
			border-bottom: 1px solid #DDDDDD; }

			.box .boxcenter .insidesinglepostarticles ul li small {
				padding: 5px 0;
				width: 248px;
				color: #000000;
				font-family: tahoma;
				font-size: 10px;
				display: block; }

			.box .boxcenter .insidesinglepostarticles ul li:hover {
				background: #F5F5F5;
				color: #005391; }

.starredarticles {
	padding: 10px;
	background: #0092D6;
	box-shadow: inset 0 0 10px #000000;
	position: relative;
	overflow: hidden; }

	.starredarticles h1 {
		padding: 10px 0;
		font-size: 18px;
		text-align: center;
		color: #003965;
		border-bottom: 1px solid #005CB8;
		text-shadow: 0 0 10px #BFEEF9, 0 1px 0 #BFEEF9; }

	.starredarticles .leftbutton {
		margin: 10px 0;
		padding: 0;
		background-color: #FFFFFF;
		display: block;
		width: 30px;
		height: 230px;
		float: left;
		background-position: -35px 50%;
		background-repeat: no-repeat;
		background-image: url(../images/starredarticlesarrows.png); }

		.starredarticles .leftbutton:hover {
			background-color: #003965;
			background-position: -55px 50%; }

		.starredarticles .leftbutton a {
			display: block;
			width: 30px;
			height: 230px; }

	.starredarticles .rightbutton {
		margin: 10px 0;
		padding: 0;
		background-color: #FFFFFF;
		display: block;
		width: 30px;
		height: 230px;
		float: right;
		background-position: 5px 50%;
		background-repeat: no-repeat;
		background-image: url(../images/starredarticlesarrows.png); }

		.starredarticles .rightbutton:hover {
			background-color: #003965;
			background-position: -15px 50%; }

		.starredarticles .rightbutton a {
			display: block;
			width: 30px;
			height: 230px; }

	.starredarticles .content {
		margin: 10px auto;
		padding: 5px;
		background: #FFFFFF;
		display: block;
		width: 900px; }

		.starredarticles .content .bx-wrapper {
			width: 900px;
			height: 220px;
			margin: 0; }

		.starredarticles .content ul {
			display: inline-block;
			width: 100%; }

			.starredarticles .content ul li {
				display: inline-block;
				width: 900px;
				position: absolute; }

				.starredarticles .content ul li ul {
					display: inline-block;
					width: 100%; }

					.starredarticles .content ul li ul li {
						display: inline-block;
						width: 195px;
						height: 80px;
						float: right;
						margin: 5px;
						padding: 10px;
						font-size: 14px;
						position: relative;
						overflow: hidden; }

						.starredarticles .content ul li ul li:hover { background: #EEEEEE; }

						.starredarticles .content ul li ul li .title {
							display: inline-block;
							width: 100px;
							float: left;
							line-height: 18px;
							font-size: 13px; }

							.starredarticles .content ul li ul li .title .author {
								width: 110px;
								font-size: 11px;
								color: #002727;
								font-family: tahoma; }

						.starredarticles .content ul li ul li .image {
							display: inline-block;
							width: 80px;
							height: 80px;
							float: right;
							background: #C4C4C6; }

	.starredarticles .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		left: 100px;
		bottom: 20px;
		width: 160px; }

	.starredarticles .bx-wrapper .bx-pager a {
		margin: 0 2px;
		padding: 5px 10px;
		float: right;
		background: #003F6A;
		color: #FFFFFF;
		text-align: center;
		box-shadow: 0 3px 0 #002037;
		font-size: 11px;
		font-family: HelveticaNeueBold,arial,tahoma;
		width: auto;
		height: auto; }

		.starredarticles .bx-wrapper .bx-pager a:hover,.starredarticles .bx-wrapper .bx-pager a.pager-active {
			color: #003F6A;
			background: #C5DCDF;
			box-shadow: 0 3px 0 #00A7E8; }

	.starredarticles .buttons {
		padding: 0 0 10px 0;
		display: inline-block;
		width: 980px; }

		.starredarticles .buttons ul { float: left; }

			.starredarticles .buttons ul li {
				margin: 0 2px;
				padding: 5px 10px;
				float: right;
				background: #003F6A;
				color: #FFFFFF;
				text-align: center;
				box-shadow: 0 3px 0 #002037; }

				.starredarticles .buttons ul li.more {
					margin: 0 5px;
					background: #003F6A;
					color: #FFFFFF; }

				.starredarticles .buttons ul li:hover {
					color: #003F6A;
					background: #C5DCDF;
					box-shadow: 0 3px 0 #00A7E8; }

.box .boxcenter .media {
	padding: 10px;
	display: inline-block;
	width: 920px; }

	.box .boxcenter .media .voice {
		float: left;
		width: 280px;
		display: inline-block; }

		.box .boxcenter .media .voice .title {
			width: 230px;
			height: 20px;
			border-bottom: 3px solid #014E5C;
			display: inline-block;
			font-size: 14px;
			padding: 8px 40px 2px 10px;
			background-repeat: no-repeat;
			background-position: top right; }

		.box .boxcenter .media .voice .content {
			width: 280px;
			display: inline-block; }

			.box .boxcenter .media .voice .content ul { display: inline-block; }

				.box .boxcenter .media .voice .content ul li {
					display: inline-block;
					width: 280px;
					height: 40px;
					border-bottom: 1px solid #FFFFFF;
					background: #F2F6F7; }

					.box .boxcenter .media .voice .content ul li:hover { background: #E5EDEE; }

					.box .boxcenter .media .voice .content ul li .icons {
						display: inline-block;
					
						float: right;
						margin-top: 8px; }

						.box .boxcenter .media .voice .content ul li .icons .icon {
							display: inline-block;
							width: 25px;
							height: 25px;
							float: right;
							margin-right: 5px;
							background-color: #C2D0DA; }

					.box .boxcenter .media .voice .content ul li:hover .icons .icon { background-color: #003965; }

					.box .boxcenter .media .voice .content ul li .icons .icon.download {
						background-image: url(../images/mediaplay.png);
						background-position: -3px -2px; }

						.box .boxcenter .media .voice .content ul li .icons .icon.download .button {
							width: 127px;
							height: 30px;
							display: block;
							background: transparent;
							border: 0;
							font-size: 0px; }

					.box .boxcenter .media .voice .content ul li:hover .icons .icon.download { background-position: -3px 30px; }

					.box .boxcenter .media .voice .content ul li .icons .icon.listen {
						background-image: url(../images/mediaplay.png);
						background-position: 30px 0; }

					.box .boxcenter .media .voice .content ul li:hover .icons .icon.listen { background-position: 30px 30px; }

					.box .boxcenter .media .voice .content ul li .icons .icon.listen .jp-play {
						width: 30px;
						height: 30px;
						background: none; }

					.box .boxcenter .media .voice .content ul li .icons .icon.listen .jp-pause {
						width: 30px;
						height: 30px;
						background-position: -45px -5px;
						background-color: #FFFFFF; }

					.box .boxcenter .media .voice .content ul li .name {
						display: inline-block;
						width: 170px;
						padding: 15px 10px 10px 10px;
						float: right; }

	.box .boxcenter .media .vedio {
		float: right;
		width: 620px;
		display: inline-block; }

		.box .boxcenter .media .vedio .bigthumb {
			float: left;
			width: 350px;
			height: 231px;
			display: block;
			background: #DEDEDE; }

		.box .boxcenter .media .vedio .items {
			float: right;
			width: 270px;
			display: inline-block; }

			.box .boxcenter .media .vedio .items ul { display: inline-block; }

				.box .boxcenter .media .vedio .items ul li {
					display: inline-block;
					padding: 5px;
					width: 260px;
					max-height: 49px;
					border-bottom: 1px solid #DDDDDD; }

					.box .boxcenter .media .vedio .items ul li:hover {
						background: #F2F2F2;
						color: #003965; }

					.box .boxcenter .media .vedio .items ul li.ui-state-active {
						background: #F2F2F2;
						color: #000000; }

					.box .boxcenter .media .vedio .items ul li .image {
						width: 40px;
						height: 40px;
						background: #DEDEDE;
						float: right; }

					.box .boxcenter .media .vedio .items ul li .title {
						padding: 5px 0;
						width: 210px;
						max-height: 40px;
						float: left; }
						
						.box .boxcenter .media .vedio .items ul li .title span {
					        font-family:tahoma;
							font-size: 12px;
							clear: both;
						    color: #999999;
						    display: block;
						    font-size: 10px;
						    margin: 5px 0 0;}

#videos2 {
	float: right;
	width: 600px;
	display: inline-block; }

	#videos2 .bigthumb {
		float: left;
		width: 350px;
		height: 200px;
		display: block;
		background: #DEDEDE; }

	#videos2 .items {
		float: right;
		width: 250px;
		display: inline-block; }

		#videos2 .items ul { display: inline-block; }

			#videos2 .items ul li {
				display: inline-block;
				padding: 5px;
				width: 240px;
				height: 39px;
				border-bottom: 1px solid #DDDDDD; }

				#videos2 .items ul li:hover {
					background: #F2F2F2;
					color: #003965; }

				#videos2 .items ul li.ui-state-active {
					background: #F2F2F2;
					color: #000000; }

				#videos2 .items ul li .image {
					width: 40px;
					height: 40px;
					background: #DEDEDE;
					float: right; }

				#videos2 .items ul li .title {
					padding: 5px 0;
					width: 190px;
					height: 30px;
					float: left; }

					#videos2 .items ul li .title a { color: #fff; }

					#videos2 .items ul li .title:hover a, #videos2 .items ul li.ui-tabs-active .title a { color: #222; }

.box .boxcenter .articles { display: inline-block; }

	.box .boxcenter .articles ul {
		display: inline-block;
		width: 100%; }

		.box .boxcenter .articles ul li { display: inline-block; }
		
		.box .boxcenter .articles ul li.list-container {
			height:350px !important;
		}

			.box .boxcenter .articles ul li ul li {
				padding: 10px;
				border-bottom: 1px solid #DDDDDD;
				display: inline-block;
				width: 258px;
				height: 40px;
				font-size: 12px; }

				.box .boxcenter .articles ul li ul li:hover {
					background: #F5F5F5;
					color: #005391; }

				.box .boxcenter .articles ul li ul li .name {
					width: 258px;
					padding: 5px 0;
					color: #002727;
					font-size: 11px;
					font-family: tahoma; }

	.box .boxcenter .articles .readmore {
		display: block;
		background: #004C76;
		color: #FFFFFF;
		font-size: 12px;
		width: 80px;
		float: left;
		margin: 5px;
		padding: 5px;
		text-align: center;
		box-shadow: 0 3px 0 #002037; }

		.box .boxcenter .articles .readmore:hover {
			background: #00A7E8;
			color: #004C76; }

.box .boxcenter .liberary { display: inline-block; }

	.box .boxcenter .liberary ul {
		display: inline-block;
		width: 100%; }

		.box .boxcenter .liberary ul li {
			margin: 10px;
			padding: 10px;
			display: inline-block;
			width: 268px;
			height: 80px;
			font-size: 15px;
			float: right; }

			.box .boxcenter .liberary ul li .title {
				display: inline-block;
				width: 175px;
				float: left;
				padding: 10px 0; }

			.box .boxcenter .liberary ul li small.title {
				text-align:left;
				font-size: 13px;
				font-family:tahoma, arial; }

			.box .boxcenter .liberary ul li .image {
				display: inline-block;
				width: 80px;
				height: 80px;
				float: right;
				background: #DEDEDE; }

			.box .boxcenter .liberary ul li:hover {
				background: #F5F5F5;
				color: #005391;
				box-shadow: 0 0 10px #999999; }

	.box .boxcenter .liberary .readmore {
		display: block;
		margin: 10px 0;
		padding: 10px;
		width: 130px;
		background: #003A66;
		font-size: 14px;
		color: #FFFFFF;
		text-align: center;
		box-shadow: 0 3px 0 #002037;
		float: left; }

		.box .boxcenter .liberary .readmore:hover {
			background: #00A7E8;
			color: #003A66; }

.box .boxcenter .multicat {
	display: block;
	width: 628px; }

	.box .boxcenter .multicat ul {
		display: inline-block;
		width: 260px;
		float: left; }

		.box .boxcenter .multicat ul li {
			padding: 8px 10px 2px 10px;
			display: inline-block;
			width: 240px;
			height: 20px;
			border-bottom: 1px solid #DEDEDE;
			background: #F7F7F7; }

			.box .boxcenter .multicat ul li:hover {
				background: #00759D;
				color: #FFFFFF; }

			.box .boxcenter .multicat ul li.ui-state-active {
				background: #00759D;
				color: #FFFFFF; }
				
	.box .boxcenter .multicat#multicatblock04 ul {width: 100%; }

		.box .boxcenter .multicat#multicatblock04 ul li {
			display: block;
			width: auto;
			height: auto;
			min-height: 20px; }

	.box .boxcenter .multicat .contenttext {
		display: block;
		width: 340px;
		height: 40px;
		float: right;
		font-size: 12px;
		 }
		
		.box .boxcenter .multicat .contenttext audio{
			margin: 0px;
			float: right;
			padding:0px;
		}


.box .boxcenter .mostread {
	display: inline-block;
	width: 628px; }

	.box .boxcenter .mostread .target {
		display: inline-block;
		width: 628px;
		padding: 0 0 5px 0; }

		.box .boxcenter .mostread .target li {
			display: block;
			padding: 5px 10px;
			margin: 0 0 0 5px;
			float: right;
			background: #DEDEDE;
			color: #003965; }

			.box .boxcenter .mostread .target li:hover {
				background: #003965;
				color: #DEDEDE; }

			.box .boxcenter .mostread .target li.ui-state-active {
				background: #B9B9B9;
				color: #000000; }

	.box .boxcenter .mostread .timeanimator {
		display: block;
		width: 628px; }

		.box .boxcenter .mostread .timeanimator .posts {
			display: block;
			width: 400px;
			float: left; }

			.box .boxcenter .mostread .timeanimator .posts .post {
				padding: 8px 10px 2px 10px;
				display: inline-block;
				width: 380px;
				height: 20px;
				border-bottom: 1px solid #DEDEDE;
				background: #F7F7F7;
				overflow: hidden; }

				.box .boxcenter .mostread .timeanimator .posts .post:hover {
					background: #00759D;
					color: #FFFFFF; }

		.box .boxcenter .mostread .timeanimator ul.cats {
			display: inline-block;
			width: 200px;
			float: right; }

			.box .boxcenter .mostread .timeanimator ul.cats li {
				padding: 8px 10px 2px 10px;
				display: inline-block;
				width: 180px;
				height: 20px;
				font-size: 14px;
				color: #859D9D;
				border-right: 5px solid #859D9D; }

				.box .boxcenter .mostread .timeanimator ul.cats li:hover {
					color: #003965;
					border-color: #003965; }

				.box .boxcenter .mostread .timeanimator ul.cats li.ui-state-active {
					color: #FFFFFF;
					background: #003965;
					border-color: #002540; }

.hiddenposition {
	height: 250px;
	overflow: hidden; }

.hiddenposition2 {
	height: 490px;
	overflow: hidden; }

/* Banners */
.bigbanner {
	background: #dedede;
	width: 650px;
	height: auto;
	display: inline-block;
	margin: 0 0 20px 0;
	overflow: hidden; }

.smallbanner {
	background: #dedede;
	width: 220px;
	height: 90px;
	display: inline-block;
	margin: 0 10px 20px 10px; }

/* HeaderBar */
#headerbar {
	margin: 0;
	padding: 0;
	width: 1000px;
	height: 50px;
	display: inline-block;
	position: relative;
	font-family: HelveticaNeueBold,arial,tahoma; }

	#headerbar .search {
		margin: 10px 0 0 10px;
		padding: 0;
		width: 250px;
		height: 30px;
		background: url(../images/search.png) no-repeat top center;
		display: inline-block;
		float: left;
		font-size: 12px;
		color: #25B9D3; }

		#headerbar .search .searchinput {
			margin: 0;
			padding: 5px 40px 0 10px;
			border: 0;
			width: 200px;
			height: 20px;
			background: transparent;
			font-family: HelveticaNeueBold,arial,tahoma;
			color: #25B9D3;
			font-size: 12px;
			outline: 0; }

	#headerbar .menu {
		margin: 0;
		padding: 0;
		display: inline-block;
		float: right; }

		#headerbar .menu ul {
			margin: 0;
			padding: 15px 0 0 0; }

			#headerbar .menu ul li {
				margin: 0 10px;
				padding: 5px;
				background: transparent;
				list-style: none;
				float: right;
				color: #FFFFFF;
				text-align: center;
				font-size: 12px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px; }

				#headerbar .menu ul li:hover {
					background: #EEEEEE;
					color: #25B9D3; }

/*  Top Menu */
#topmenu {
	margin: 0 10px;
	padding: 0;
	width: 980px;
	height: 50px;
	background: url(../images/topmenubg.png) repeat-x top center;
	display: inline-block;
	position: relative;
	font-family: HelveticaNeueBold,arial,tahoma;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; }

	#topmenu ul {
		margin: 0;
		padding: 10px 0 0 0; }

		#topmenu ul li {
			margin: 0 10px 0 0;
			padding: 8px 10px 2px 10px;
			height: 20px;
			background: transparent;
			list-style: none;
			float: right;
			color: #FFFFFF;
			text-align: center;
			font-size: 16px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px; }

			#topmenu ul li:hover {
				background: #1A92A7;
				box-shadow: inset 0 0 10px #0C5261; }

/*  Slider */
.ca-container {
	position: relative;
	width: 880px;
	height: 270px;
	background: #F7F7F7;
	border: 1px solid #E5E5E5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	margin: 10px auto }

.ca-wrapper {
	width: 100%;
	height: 100%;
	position: relative }

.ca-item {
	position: relative;
	float: left;
	width: 220px;
	height: 270px;
	text-align: center }

.ca-item-main {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow: hidden;
	background: #FBFBFB;
	border: 1px solid #E5E5E5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	opacity: 0.7;
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	-ms-filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
	filter: alpha(opacity=70);
	padding: 6px }

	.ca-item-main:hover {
		opacity: 1.0;
		-khtml-opacity: 1.0;
		-moz-opacity: 1.0;
		-ms-filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100) }

.ca-icon {
	width: 190px;
	height: 130px;
	position: relative;
	background: #EEE;
	margin: 0 auto }

.ca-item h3 {
	font-size: 15px;
	font-family: gesstwo,arial;
	color: #666;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	line-height: 20px;
	margin: 10px 0 }

.ca-item h4 {
	font-size: 11px;
	font-family: tahoma;
	font-weight: 400;
	position: relative;
	line-height: 16px;
	margin: 0;
	padding: 0 }

	.ca-item h4 span { display: block }

.ca-content-wrapper {
	background: #b0ccc6;
	position: absolute;
	width: 0;
	height: 440px;
	top: 5px;
	text-align: left;
	z-index: 10000;
	overflow: hidden }

.ca-nav span {
	width: 50px;
	height: 50px;
	background: transparent url(../images/right.png) no-repeat top right;
	position: absolute;
	top: 50%;
	margin-top: -19px;
	right: -48px;
	opacity: 0.7;
	cursor: pointer;
	z-index: 100 }

	.ca-nav span.ca-nav-next {
		background: transparent url(../images/left.png) no-repeat top left;
		right: auto;
		left: -48px }

	.ca-nav span:hover { opacity: 1.0 }

.ca-item-main:hover h3,.ca-item-main:hover h4 a { color: #25B9D3 }

/*  Container */
#container {
	margin: 0;
	padding: 10px;
	width: 980px;
	display: inline-block;
	background: #F7F7F7; }

	/*  Sidebar */
#container .sidebar {
		margin: 0;
		padding: 0;
		width: 322px;
		display: inline-block;
		float: left;
		font-size: 12px;
		font-family: gesstwo,arial; }

		#container .sidebar .widget {
			margin: 0 0 10px 0;
			padding: 0;
			width: 320px;
			display: inline-block;
			position: relative;
			overflow: hidden;
			background: #FDFDFD;
			border: 1px solid #E5E5E5;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px; }

			#container .sidebar .widget .title {
				margin: 0;
				padding: 10px 10px 0 10px;
				width: 300px;
				height: 20px;
				color: #FFFFFF;
				display: inline-block;
				background: url(../images/widgettitle.png) repeat-x top center;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 0;
				-moz-border-radius-bottomright: 0;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 0;
				-webkit-border-bottom-right-radius: 0; }

			#container .sidebar .widget .content {
				margin: 0;
				padding: 10px;
				width: 300px;
				display: inline-block; }

				#container .sidebar .widget .content ul {
					margin: 5px 0 0 0;
					padding: 0; }

					#container .sidebar .widget .content ul li {
						margin: 0;
						padding: 10px 0;
						list-style: none;
						display: inline-block;
						width: 300px;
						line-height: 18px; }

			#container .sidebar .widget .banner {
				margin: 10px;
				padding: 0;
				width: 300px;
				height: 250px;
				display: inline-block;
				background: #EEEEEE; }

			/*social*/
#container .sidebar .widget .content .social {
				margin: 0;
				padding: 0; }

				#container .sidebar .widget .content .social li {
					margin: 0 10px;
					padding: 0;
					list-style: none;
					display: inline-block;
					width: 40px;
					height: 40px;
					float: right;
					opacity: 0.6;
					-khtml-opacity: 0.6;
					-moz-opacity: 0.6;
					-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
					filter: alpha(opacity=60); }

					#container .sidebar .widget .content .social li:hover {
						opacity: 1.0;
						-khtml-opacity: 1.0;
						-moz-opacity: 1.0;
						-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100); }

					#container .sidebar .widget .content .social li.rss { background: url(../images/rss.png) no-repeat center center; }

					#container .sidebar .widget .content .social li.facebook { background: url(../images/facebook.png) no-repeat center center; }

					#container .sidebar .widget .content .social li.twitter { background: url(../images/twitter.png) no-repeat center center; }

					#container .sidebar .widget .content .social li.gplus { background: url(../images/gplus.png) no-repeat center center; }

					#container .sidebar .widget .content .social li.youtube { background: url(../images/youtube.png) no-repeat center center; }

			/*Most Read*/
#container .sidebar .widget .content .mostread {
				margin: 0;
				padding: 0; }

				#container .sidebar .widget .content .mostread li {
					margin: 0;
					padding: 10px 0;
					list-style: none;
					display: inline-block;
					width: 300px;
					background-color: transparent;
					color: #25B9D3;
					border-bottom: 1px solid #DEDEDE; }

					#container .sidebar .widget .content .mostread li:hover { background-color: #FAFAFA; }

					#container .sidebar .widget .content .mostread li .image {
						margin: 0;
						padding: 0;
						display: inline-block;
						width: 60px;
						height: 60px;
						background-color: #EEEEEE;
						float: right; }

					#container .sidebar .widget .content .mostread li .text {
						margin: 0;
						padding: 0;
						display: inline-block;
						width: 230px;
						float: left; }

						#container .sidebar .widget .content .mostread li .text small {
							color: #999999;
							font-size: 10px; }

						#container .sidebar .widget .content .mostread li .text span {
							width: 300px;
							color: #666666;
							font-size: 11px;
							font-family: tahoma; }

			/*Latest Comments*/
#container .sidebar .widget .content .latestcomments {
				margin: 0;
				padding: 0; }

				#container .sidebar .widget .content .latestcomments li {
					margin: 0;
					padding: 10px 0;
					list-style: none;
					display: inline-block;
					width: 300px;
					background-color: transparent;
					border-bottom: 1px solid #DEDEDE; }

					#container .sidebar .widget .content .latestcomments li a { color: #25B9D3; }

					#container .sidebar .widget .content .latestcomments li:hover { background-color: #FAFAFA; }

	/*  Container CLASS */
#container .container {
		margin: 0;
		padding: 0;
		width: 650px;
		display: inline-block;
		float: right;
		font-family: HelveticaNeueBold,arial,tahoma; }

		/* Cat One */
#container .container .catone {
			margin: 15px 0 0 0;
			padding: 0;
			width: 650px;
			display: inline-block; }

			#container .container .catone h1 {
				margin: 0;
				padding: 10px;
				width: 630px;
				display: inline-block;
				color: #25B9D3;
				font-size: 20px;
				font-weight: normal;
				border-bottom: 5px solid #DEDEDE; }

			#container .container .catone .singlepost {
				margin: 10px 0 0 0;
				padding: 0;
				width: 648px;
				display: inline-block;
				background: #FFFFFF;
				border: 1px solid #E5E5E5;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px; }

				#container .container .catone .singlepost .details {
					margin: 0;
					padding: 0;
					width: 648px;
					height: 30px;
					display: inline-block;
					font-family: gesstwo,arial;
					background: url(../images/catonetopbg.png) repeat-x top center; }

					#container .container .catone .singlepost .details ul {
						margin: 8px 0 0 0;
						padding: 0;
						display: inline-block; }

						#container .container .catone .singlepost .details ul li {
							margin: 0 10px;
							padding: 2px 20px 0 0;
							height: 13px;
							display: inline-block;
							list-style: none;
							float: right;
							opacity: 0.6;
							-khtml-opacity: 0.6;
							-moz-opacity: 0.6;
							-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
							filter: alpha(opacity=60); }

							#container .container .catone .singlepost .details ul li:hover {
								opacity: 1.0;
								-khtml-opacity: 1.0;
								-moz-opacity: 1.0;
								-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
								filter: alpha(opacity=100); }

							#container .container .catone .singlepost .details ul li.user { background: url(../images/user.png) no-repeat top right; }

							#container .container .catone .singlepost .details ul li.date { background: url(../images/date.png) no-repeat top right; }

							#container .container .catone .singlepost .details ul li.visits { background: url(../images/visits.png) no-repeat top right; }

							#container .container .catone .singlepost .details ul li.category { background: url(../images/category.png) no-repeat top right; }

				#container .container .catone .singlepost .text {
					margin: 10px;
					padding: 0;
					width: 400px;
					display: inline-block;
					float: left; }

					#container .container .catone .singlepost .text h2 {
						margin: 10px 0;
						padding: 0;
						font-weight: normal;
						font-size: 21px;
						color: #25B9D3; }

					#container .container .catone .singlepost .text p {
						margin: 0;
						padding: 0;
						font-size: 12px;
						line-height: 18px; }

						#container .container .catone .singlepost .text p a { color: #25B9D3; }

				#container .container .catone .singlepost .image {
					margin: 10px;
					padding: 0;
					width: 200px;
					height: 200px;
					display: inline-block;
					background-color: #EEEEEE;
					float: right; }

			#container .container .catone .singlepostsmall {
				margin: 5px 0 0 0;
				padding: 0;
				width: 648px;
				display: inline-block;
				background: #FFFFFF;
				border: 1px solid #E5E5E5;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				opacity: 0.6;
				-khtml-opacity: 0.6;
				-moz-opacity: 0.6;
				-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
				filter: alpha(opacity=60); }

				#container .container .catone .singlepostsmall:hover {
					opacity: 1.0;
					-khtml-opacity: 1.0;
					-moz-opacity: 1.0;
					-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100); }

					#container .container .catone .singlepostsmall:hover .text h2 { color: #25B9D3; }

				#container .container .catone .singlepostsmall .text {
					margin: 10px;
					padding: 0;
					width: 540px;
					display: inline-block;
					float: left; }

					#container .container .catone .singlepostsmall .text h2 {
						margin: 10px 0;
						padding: 0;
						font-weight: normal;
						font-size: 15px;
						color: #606060 }

					#container .container .catone .singlepostsmall .text small {
						margin: 0;
						padding: 0;
						font-size: 11px;
						color: #666666;
						font-family: tahoma; }

				#container .container .catone .singlepostsmall .image {
					margin: 10px;
					padding: 0;
					width: 60px;
					height: 60px;
					display: inline-block;
					background-color: #EEEEEE;
					float: right; }

		/*  Cat Two */
#container .container .cattwo {
			margin: 15px 0 0 0;
			padding: 0;
			width: 650px;
			display: inline-block; }

			#container .container .cattwo h1 {
				margin: 0;
				padding: 10px;
				width: 630px;
				display: inline-block;
				color: #25B9D3;
				font-size: 20px;
				font-weight: normal;
				border-bottom: 5px solid #DEDEDE; }

			#container .container .cattwo .single {
				margin: 10px 0 0 0;
				padding: 0;
				width: 650px;
				display: inline-block;
				background: #FFFFFF;
				border: 1px solid #E5E5E5;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px; }

				#container .container .cattwo .single .singlepost {
					margin: 10px 7px 0 5px;
					padding: 0 0 10px 0;
					width: 150px;
					display: inline-block;
					float: right;
					opacity: 0.6;
					-khtml-opacity: 0.6;
					-moz-opacity: 0.6;
					-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
					filter: alpha(opacity=60); }

					#container .container .cattwo .single .singlepost:hover {
						opacity: 1.0;
						-khtml-opacity: 1.0;
						-moz-opacity: 1.0;
						-ms-filter:\"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100); }

						#container .container .cattwo .single .singlepost:hover .text h2 { color: #25B9D3; }

					#container .container .cattwo .single .singlepost .text {
						margin: 0;
						padding: 0;
						width: 150px;
						display: inline-block; }

						#container .container .cattwo .single .singlepost .text h2 {
							margin: 0;
							padding: 5px 0;
							font-weight: normal;
							font-size: 12px;
							color: #606060; }

						#container .container .cattwo .single .singlepost .text p {
							margin: 0;
							padding: 5px 0 10px 0;
							font-size: 11px;
							font-family: tahoma; }

					#container .container .cattwo .single .singlepost .image {
						margin: 0 0 10px 0;
						padding: 0;
						width: 150px;
						height: 150px;
						display: inline-block;
						background-color: #EEEEEE; }

		/*  Cat Three */
#container .container .catthree {
			margin: 15px 0 0 0;
			padding: 0;
			width: 650px;
			display: inline-block; }

			#container .container .catthree h1 {
				margin: 0;
				padding: 10px;
				width: 630px;
				display: inline-block;
				color: #25B9D3;
				font-size: 20px;
				font-weight: normal;
				border-bottom: 5px solid #DEDEDE; }

			#container .container .catthree .single {
				margin: 10px 0 0 0;
				padding: 0;
				width: 650px;
				height: 230px;
				overflow: hidden;
				display: inline-block;
				position: relative;
				background: #FFFFFF;
				border: 1px solid #E5E5E5;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px; }

				#container .container .catthree .single .singlepost {
					margin: 0;
					padding: 0;
					width: 650px;
					display: inline-block;
					position: relative; }

					#container .container .catthree .single .singlepost .text {
						margin: 0 10px 5px 10px;
						padding: 0;
						width: 630px;
						display: inline-block; }

						#container .container .catthree .single .singlepost .text h2 {
							margin: 0;
							padding: 5px 0;
							font-weight: normal;
							font-size: 12px;
							color: #25B9D3; }

						#container .container .catthree .single .singlepost .text p {
							margin: 0;
							padding: 5px 0 10px 0;
							font-size: 11px;
							font-family: tahoma; }

					#container .container .catthree .single .singlepost .image {
						margin: 10px;
						padding: 0;
						width: 630px;
						height: 150px;
						display: inline-block;
						background-color: #EEEEEE; }

/* Cat Three Slider */
.bx-wrapper {
	zoom: 1;
	margin: 0 0 60px;
	padding: 0 }

	.bx-wrapper img { width:100%;display: block }

	.bx-wrapper .bx-viewport {
		/*-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc;
		border: solid #fff 5px;*/
		left: -5px;
		background: #fff}

	.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 50px }

	.bx-wrapper .bx-loading {
		min-height: 50px;
		background: url(images/bx_loader.gif) center center no-repeat #fff;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000 }

	.bx-wrapper .bx-pager {
		text-align: left;
		font-size: 1px;
		font-family: gesstwo;
		font-weight: 700;
		color: #666;
		padding-top: 0 }

		.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item { zoom:1;display: inline }

		.bx-wrapper .bx-pager a {
			display: block;
			background: url(../images/pager.png) no-repeat top center;
			outline: 0;
			float: right;
			margin: 0 0 0 5px }

			.bx-wrapper .bx-pager a:hover,.bx-wrapper .bx-pager a.pager-active { background-image: url(../images/pager-active.png) }

	.bx-wrapper .bx-prev { left:10px;background: url(images/controls.png) no-repeat 0 -32px }

	.bx-wrapper .bx-next { right:10px;background: url(images/controls.png) no-repeat -43px -32px }

	.bx-wrapper .bx-prev:hover { background-position: 0 0 }

	.bx-wrapper .bx-next:hover { background-position: -43px 0 }

	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 9999 }

		.bx-wrapper .bx-controls-direction a.disabled { display: none }

	.bx-wrapper .bx-controls-auto { text-align: center }

		.bx-wrapper .bx-controls-auto .bx-start {
			display: block;
			text-indent: -9999px;
			width: 10px;
			height: 11px;
			outline: 0;
			background: url(images/controls.png) -86px -11px no-repeat;
			margin: 0 3px }

			.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0 }

		.bx-wrapper .bx-controls-auto .bx-stop {
			display: block;
			text-indent: -9999px;
			width: 9px;
			height: 11px;
			outline: 0;
			background: url(images/controls.png) -86px -44px no-repeat;
			margin: 0 3px }

			.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px }

	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align:left;width: 80% }

	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right:0;width: 35px }

	.bx-wrapper .bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(80,80,80,0.75);
		width: 100% }

		.bx-wrapper .bx-caption span {
			color: #fff;
			font-family: Arial;
			display: block;
			font-size: .85em;
			padding: 10px }

#stcpDiv { display: none !important; }

.stwrapper {
	position:fixed !important;
}

.share-btns {
    padding: 20px 0;
    clear:both;
    float:right;
    width:100%;
}

.post-info + .share-btns {
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
}

.advancedS select {
	border: 1px solid #CCCCCC;
	margin-right: 5px;
	width: 402px;
	height: 452px; }

	.advancedS select option {
		border-bottom: 1px solid #CCCCCC;
		padding: 5px;
		font-size: 16px; }

		.advancedS select option:last-child { border-bottom: 0 none; }

.advancedS p {
	clear: both;
	margin: 20px 10px 5px 0; }

.advancedS #searchsubmit {
	clear: both;
	margin: 0 5px 20px 0;
	display: block;
	background: #004C76;
	color: #FFFFFF;
	font-size: 11px;
	width: 65px;
	padding: 5px;
	text-align: center;
	outline: 0 none;
	border: 0 none; }

.player-control {
	float: right;
	width: 53px;
	height: 25px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; }

	.player-control button {
		width: 25px;
		height: 25px;
		background: url("../images/player-control.png") no-repeat scroll 2px 0 #C2D0DA;
		background-size: 23px;
		border: 0 none;
		cursor:pointer;
		text-indent: -99999px; }

	.player-control .pc-stop {
		width: 25px;
		height: 25px;
		background: url("../images/4_audio_pause.png") no-repeat scroll 2px 0 #C2D0DA;
		background-size: 23px;
		border: 0 none;
		cursor:pointer;
		text-indent: -99999px; 
		 }

	.player-control.playing .pc-play { margin-top: -100px; }

	.player-control + a {
		display: inline-block;
		width: 25px;
		height: 25px;
		float: right;
		margin-right: 5px;
		overflow: hidden;
		text-indent: -9999px;
		background-color: #C2D0DA;
		background-image: url(../images/mediaplay.png);
		background-position: -3px -2px;
		border-radius: 5px; }

		.player-control + a:hover, 
.auto-player-single + h3 span {
			background-color: #003965;
			background-position: -3px 27px;
			cursor:pointer; }

.auto-player-single {
	margin-bottom: 10px;
	margin-right: 160px; }

	.auto-player-single + h3 { text-align: center; }

		.auto-player-single + h3 span {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 5px;
			overflow: hidden;
			background-color: #C2D0DA;
			background-image: url(../images/mediaplay.png);
			background-position: -3px -2px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin-bottom: -10px; }

#latestbar marquee a { margin-left: 0px; }

.insidesinglepost .addthis_toolbox {
	float:right;
	display:block;
	margin:20px 10px 0 10px;
}

.four-ads {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	clear: both; }

	.four-ads a {
		width: 218px;
		height: 85px;
		display: inline-block;
		float: right;
		margin: 0 10px;
		line-height: 0; }

	.four-ads img {
		line-height: 0;
		max-width: 100%; }

.box .boxcenter .blocksmall .maillist p, #commentform p { margin-top: 5px; }

#commentform p { margin-bottom: 10px; }

.box .boxcenter .blocksmall .maillist p:last-child { margin-bottom: 5px; }

#commentform, #respond h1 { margin: 0 15px; }

#commentform p:last-child,
#commentform .comment-notes { margin: 10px 0; }

.box .boxcenter .blocksmall .maillist label {
	display: block;
	float: right;
	margin-top: 8px;
	width: 90px; }

.box .boxcenter .blocksmall .maillist input, #commentform input, #commentform textarea {
	padding: 5px; 
	border: 1px solid #9FB7C9; }

#commentform input:not(#submit) { width: 310px;}
#commentform textarea { width: 610px; margin-bottom:10px;}

.box .boxcenter .blocksmall .maillist input.sml_submitbtn,
#commentform #submit {
	background-color: #003A66;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer; }

#commentform label {
	margin-top: 10px; /*width:90px;
    float: right;*/
	margin-bottom: 10px;
	font-size: 16px;
	display: inline-block; }

#respond { margin-top: 20px; }

.commentlist {
	width: 100%;
	overflow: hidden;
	background-color: #ddd;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.9) inset;
	border: 1px solid #fff; }

	.commentlist li { margin-top: 20px; /*border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 #FFFFFF inset;*/ }

		.commentlist li:last-child { padding-bottom: 10px; /* border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF inset;*/ }

		.commentlist li li:last-child {
			border-bottom: 0 none;
			box-shadow: 0 1px 0 #FFFFFF inset;
			padding-bottom: 10px; }

	.commentlist cite {
		display: block;
		font-size: 12px;
		color: #000;
		padding: 10px 15px 5px 15px; }

	.commentlist span, .commentlist a {
		color: #000;
		margin-left: 5px; }

	.commentlist span.author {
		display: inline-block;
		font-size: 14px;
		margin-bottom: 0; }

	.commentlist .commenttext {
	    font-family: Tahoma;
		text-align: justify;
		font-size: 12px;
		line-height: 20px;
		margin: 5px 10px 10px 10px;
		padding: 15px;
		color: #000;
		border: 1px solid #333;
		box-shadow: 0 1px 0 #151515, inset 1px 1px 3px #000;
		background-color: #fff; }

.insidesinglepost audio { margin-right: 150px; }

.gform_body input, .gform_body textarea, .gform_body select,
#searchform input[type="text"] {
	border: 1px solid #DDDDDD;
	outline: 0 none !important; }

.gform_body input[type="file"] { border: 0 none !important; }

/* Advanced Search */

#uwpqsf_id {
	border:0 none;
	margin: 0 10px;
}

#uwpqsf_id .uform_title {
	padding: 0 0 20px 0;
	font-size: 22px;
    font-weight: normal;
	text-align:right;
}

.uwpqsf_class {
    margin-bottom: 20px;
    overflow: hidden;
}

.uwpqsf_class > span[class*="taxolabel-"], .uwpqsf_class > span[class*="cmflabel-"] {
    float: right;
    padding: 10px 0;
}

[class*="tax-check-"] label, [class*="cmf-check-"] label {
    float: right;
    font-size: 12px;
    padding-bottom: 5px;
}

input#uwpqsf_id_key {
    border: 1px solid #CCCCCC;
    margin: -10px 0 0 !important;
    padding: 10px;
    width: 96%;
}

.uwpqsf_submit {
    margin-bottom: 15px;
    text-align: right;
}

.uwpqsf_submit input, #searchsubmit {
	border: 1px solid #9FB7C9;
    padding: 5px;
    cursor:pointer;
}

#searchform #s {
    padding: 6px;
}
marquee[Attributes Style] {
-internal-marquee-style: alternate;
}