﻿.mo-panel {
	width: 800px;
	margin: 45px auto 10px;
	direction:ltr;
	text-align:left;
}
.mo-panel * {
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}
.logo{
	background:url(images/logo.png) no-repeat top;
	width:118px;
	height:93px;
	margin:20px auto 20px;
}
.mo-panel-head {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	height: 100px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
	display: none;
}
.mo-panel-content h2{
	margin-bottom:50px;
	font-size:22pt;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style:italic;
	float:left;

}
.mo-panel-head .left-block {
	float: left;
	padding: 20px;
	text-align: center;
}
.mo3aser {
	margin-top: 3px;
	display: block;
}
.mpanel-submit {
	float: right;
}
.mpanel-reset{
	float: left;
}
input.mpanel-save , input.mpanel-reset-button {
	padding: 5px 15px 7px;
	color: #FFF;
	text-shadow: 0px 1px 0px #000;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #5E8C22;
	-moz-box-shadow: inset 0 0 2px #FFF, 0 1px 1px #cacaca;
	-webkit-box-shadow: inset 0 0 2px white, 0 1px 1px #CACACA;
	box-shadow: inset 0 0 2px white, 0 1px 1px #CACACA;
	clear: both;
	cursor: pointer;
	font-weight: bold;
	background: #89C03E;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A8D34E),color-stop(100%,#6AAD2D));
	background: -webkit-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -moz-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -o-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -ms-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
input.mpanel-save:hover , input.mpanel-reset-button:hover{
	color: #FFF !important;
	text-shadow: 0px 1px 0px #000 !important;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#B2D862),color-stop(100%,#76C132));
	background: -webkit-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -moz-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -o-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -ms-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: linear-gradient(top,#B2D862 0,#76C132 100%);
}
input.mpanel-reset-button{ 
	border: 1px solid #B63540;
	background: #ED596A;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F77087),color-stop(100%,#E3414D));
	background: -webkit-linear-gradient(top,#F77087 0,#E3414D 100%);
	background: -moz-linear-gradient(top,#F77087 0,#E3414D 100%);
	background: -o-linear-gradient(top,#F77087 0,#E3414D 100%);
	background: -ms-linear-gradient(top,#F77087 0,#E3414D 100%);
	background: linear-gradient(top,#F77087 0,#E3414D 100%);
}
input.mpanel-reset-button:hover{ 
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F8889B),color-stop(100%,#E65762));
	background: -webkit-linear-gradient(top,#F8889B 0,#E65762 100%);
	background: -moz-linear-gradient(top,#F8889B 0,#E65762 100%);
	background: -o-linear-gradient(top,#F8889B 0,#E65762 100%);
	background: -ms-linear-gradient(top,#F8889B 0,#E65762 100%);
	background: linear-gradient(top,#F8889B 0,#E65762 100%);
}
.small_button {
	padding: 4px 8px 4px;
	margin-left:5px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #CCC;
	cursor:pointer;
	color: #777;
}
#upload_image_button:hover{	border-color:#999; color: #464646;}
.extra-text{
	display:block;
	clear:both;
	padding:4px 0 0 205px;
}
.mo-panel-tabs {
	width: 185px;
	float: left;
	padding-bottom: 25px;
	border-radius: 5px 0 0 5px;
	background: #222 url(images/panel-bg.png);
	box-shadow: 0px 0px 6px #888;
	-moz-box-shadow: 0px 0px 6px #888;
	-webkit-box-shadow: 0px 0px 6px #888;
}
.mo-panel-tabs ul {
	border-top:1px solid #333;
	border-bottom:1px solid #111;
}
.mo-panel-tabs li {
	border-bottom:1px solid #333;
	border-top:1px solid #111;
	list-style:none;
}
.mo-panel-tabs li a {
	padding: 9px 10px;
	display: block;
	text-shadow: 0 1px 1px #333;
	color: white;
	cursor: pointer;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-moz-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-o-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	transition: background  ease-in-out 0.2s , padding  ease-in-out 0.2s;
	text-align:right;
}
.mo-panel-tabs li a:hover {
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
	padding-right:15px;
	padding-left:15px;
}
.mo-panel-tabs li.active {
	position: relative;
	width: 185px;
	border:0 none;
}
.mo-panel-tabs li.active a {
	background: #FFF url(images/stripes.png) ;
	border: 1px solid #ccc;
	border-right: 0;
	color: #000;
	text-shadow: 0 1px 1px #FFF;
	height: 14px;
	font-weight: bold;
	color: #6AAD2D ;	
}
.mo-panel-tabs li a span{
	width:16px;
	height:16px;
	display:inline-block;
	float:left;
	margin-right:8px;
}
.mo-panel-tabs li.general span{background:url(images/general.png) no-repeat ;}
.mo-panel-tabs li.homepage span{background:url(images/home.png) no-repeat ;}
.mo-panel-tabs li.slideshow span{background:url(images/slideshow.png) no-repeat ;}
.mo-panel-tabs li.article span{background:url(images/article.png) no-repeat ;}
.mo-panel-tabs li.styling span{background:url(images/styling.png) no-repeat ;}
.mo-panel-tabs li.translator span{background:url(images/translator.png) no-repeat ;}
.mo-panel-tabs li.sidebars span{background:url(images/sidebars.png) no-repeat ;}
.mo-panel-tabs li.header span{background:url(images/header.png) no-repeat ;}
.mo-panel-tabs li.footer span{background:url(images/footer.png) no-repeat ;}
.mo-panel-tabs li.archives span{background:url(images/archives.png) no-repeat ;}
.mo-panel-tabs li.advanced span{background:url(images/advanced.png) no-repeat ;}
.mo-panel-tabs li.Social span{background:url(images/Social.png) no-repeat ;}
.mo-panel-tabs li.skins span{background:url(images/skins.png) no-repeat ;}
.mo-panel-tabs li.banners span{background:url(images/banners.png) no-repeat ;}
.mo-panel-tabs li.typography span{background:url(images/typography.png) no-repeat;}
.mo-panel-content {
	background: #FFF url(images/stripes.png) ;
	padding: 20px;
	float: right;
	width: 575px;
	box-shadow: 0px 0px 6px #888;
	-moz-box-shadow: 0px 0px 6px #888;
	-webkit-box-shadow: 0px 0px 6px #888;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	min-height:600px;
	position:relative;
	padding-bottom:85px;
	overflow:hidden;
}
div.option-item input[type=text], div.option-item textarea {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 250px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
div.option-item input[type=text]:focus, div.option-item textarea:focus {
	border: solid 1px #c2c2c2;
}
div.option-item select {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
	width:250px;
	height:27px;
}
.mo-panel-content p {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
div.option-item{
	clear:both;
	padding:15px ;
	overflow:hidden;
	background:url(images/sep.png) repeat-x bottom;
	position:relative;
}
div.option-item:last-child{ background:transparent;}
.tiepanel-item .label {
	width: 205px;
	display: inline-block;
	float:left;
	padding-top:1px ;
	font-size:11pt;
}
.tags-list {
	padding-right: 250px;
	display: none;
}
.mo-help {
	background: url(images/help.png) no-repeat top;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position:absolute;
	top:19px;
	right:10px;
}
#theme-pattern{
	height: 281px;
	overflow: auto;		
}
#theme-pattern img{
	border-color:#cdcdcd;
}
.tie-options li {
	float: left;
	margin: 5px 21px;
}
.tie-options img {
	background: white;
padding: 4px;
margin: 0 0 5px;
border: solid 1px #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.tie-options img:hover {
	background: #89C03E !important;
}
.tie-options .selected img {
	background:  #ffc000 !important;
}
.tie-options li input {
	display: none;
}
.img-preview {
	margin: 10px 0;
	text-align: left;
	border:4px solid #CCC;
	float:right;
	clear:both;
	position:relative;
	line-height:0;
}
.img-preview img{
	max-width: 100%;
}
.img-preview  .del-img{ position:absolute;
	left:-10px;
	bottom:-10px;
	background:url(images/delete.png) no-repeat top;
	width:20px;
	height:20px;
	cursor:pointer;
}
#cat_sortable li ,  #sidebarsList li {
	margin: 5px 0 10px;
	overflow: hidden;
	list-style:none;
}
.ui-state-highlight {
	background-color: #fffdea;
	border: 1px dashed #ffd38c;
	height: 50px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.ui-state-default {
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#cat_sortable .widget-head , #sidebarsList .widget-head{
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
	padding: 7px;
	cursor: move;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
}
#cat_sortable .widget-content {
	background: #F9F9F9;
	padding: 10px;
	display: none;
	position:relative;
}
#cat_sortable .widget-content label {
	line-height: 25px;
	display:block;
	padding:5px 0;
}
#cat_sortable .widget-content label span {
	padding-right: 5px;
	width:200px;
	display:inline-block;
}
#cat_sortable .widget-content textarea{
	width:482px;
	height:100px;
}
#sidebarsList{padding-top:10px;}
#sidebarsList li {margin: 10px 0 0;}
#sidebarsList .widget-head{
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
	padding: 7px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position:relative;
}
.del-sidebar{
	position: absolute;
	right: 5px;
	top:5px;
	background: url(images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;	
}
.del-cat {
	background: url(images/trash.png) no-repeat top;
	display: block;
	text-indent: -99999999px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
}
a.toggle-open, a.toggle-close {
	float: right;
	color: #FFF;
	cursor: pointer;
	font-size: 12pt;
	padding: 2px 10px;
}
a.toggle-close {
	display: none;
}
#tabs_cats li {list-style:none;}
#tabs_cats li input {
	display: none;
}
#tabs_cats li span {
	display: block;
	cursor: pointer;
	width: 132px;
	float: left;
	margin: 0px 15px 15px 0px;
	background: url(images/no.png) no-repeat left;
	padding: 4px;
	padding-left:30px;
}
#tabs_cats li.selected span {
	background: url(images/yes.png) no-repeat left;
}
.tiepanel-item {
	border: solid 1px #CCC;
	margin: 0 0 20px;
	background: #F9F9F9 ;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	clear:both;
	position:relative;
}
.tiepanel-item h3 {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 8px 10px;
	cursor:default !important;
	font-size:16px;
}
.ui-slider{
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border:1px solid #E6E6E6;
	height: .8em;
	position: relative;
	text-align: left;
	width:230px;
	margin-top:8px;
	float:left;
	margin-right:15px;
	-moz-border-radius: 5px;
	-khtml-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.5em;
	cursor: default;
	background: #89C03E;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A8D34E),color-stop(100%,#6AAD2D));
	background: -webkit-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -moz-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -o-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -ms-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	font-weight: normal;
	color: #555;
	top: -.5em;
	margin-left: -.6em;
	cursor:pointer;
}
.home-builder-buttons{ margin:10px 0 20px;}
.home-builder-buttons a{
	background:url(images/add.png) no-repeat top left;
	padding-left:18px;
	margin-right:14px;
	cursor:pointer;
	
}
#add-divider{margin-right:0;}
#cat_sortable li.removered .widget-head , #sidebarsList li.removered .widget-head {background: #ff0000;}
#cat_sortable li.removered .widget-content, #tie-slider-items li.removered  .widget-content { background:#ffeded;}
#collapse-all, #expand-all{font-size:90%;float:right;margin-left:10px;margin-right:3px;cursor:pointer;color:#888;}
#collapse-all:hover, #expand-all:hover{color:#000; text-decoration:underline;}




#tie-slider-items .widget-content {
	background:#fff;
	padding: 10px;
	position:relative;
}
#tie-slider-items  .widget-content label {
	line-height: 25px;
	display:block;
	padding:7px 0;
}
#tie-slider-items  .widget-content label span {
	padding-right: 5px;
	width:95px;
	display:inline-block;
}
#tie-slider-items .widget-content textarea{
	width:482px;
	height:50px;
}
#tie-slider-items li{
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
#tie-slider-items  .slider-img{
	display: inline;
	float: right;
	margin: 0;
	margin-right: 5px;
	margin-top: 8px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 2px solid rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	z-index: 999;
}
#tie-slider-items img { height:150px; width:150px; margin:-40px;}
#tie-slider-items .del-cat { bottom:10px; top:auto;}

.tie-cats-options li{margin-right:8px !important;}
.tie-cats-options li img{ width:100px;}

#save-alert {
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	background: rgba(0, 0, 0, .8) url(images/loading.gif) no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display:none;
}
.save-done{background: rgba(0, 0, 0, .8) url(images/done.png) no-repeat center !important;}
.save-error{background: rgba(0, 0, 0, .8) url(images/error.png) no-repeat center !important;}
.jquery-checkbox {display: inline; font-size: 20px; line-height: 20px; cursor: pointer;}
.jquery-checkbox .mark {display: inline; }
.jquery-checkbox img {vertical-align: middle; width: 80px; height: 23px;}
.jquery-checkbox img{background: transparent url(images/checkbox.png) no-repeat;}
.jquery-checkbox img{
	background-position: 0px bottom;
}
.jquery-checkbox-checked img{
	background-position: 0px 0;
}
.color-pic{
	position:relative;
	width: 28px;
	height: 28px;
	float:left;
	margin-right:5px;
}
.color-pic div{
	background: url(images/select2.png) center;
	position: absolute;
	width: 28px;
	height: 28px;
}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
#slider_cat-item, #slider_tag-item, #slider_posts-item, #slider_pages-item, #slider_custom-item, #flexi, #elastic,
#tie_video_url-item,#tie_post_slider-item, #tie_googlemap_url-item ,#tie_embed_code-item, #breaking_tag-item, #breaking_cat-item {display:none;}

#tie_hide_meta, #tie_hide_author, #tie_hide_share, #tie_hide_related{width:60px;}
.mo-footer{
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	margin:0 -20px -20px;
	border-top:4px solid #ddd;
	padding:10px;
	position:absolute;
	bottom:20px;
	width:595px;
}

#theme-skins li{ margin: 5px 13px; }
#theme-skins img{max-width:250px;}


/*------------------------------------------------------------------------------
    More themes
-------------------------------------------------------------------------------*/
#tie-more-themes { overflow: hidden; }

#tie-more-themes li {
    float: left;
    margin-right: 20px;
    width: 240px;
}

#tie-more-themes .theme { width: 240px; }

#tie-more-themes .theme > div { margin-bottom: -25px; }

#tie-more-themes div + div { height: 60px; }

#tie-more-themes img {
    height: auto;
    margin-bottom: 30px;
    width: 250px;
}

#tie-more-themes span { display: none; }



/* ---------------------------------------------
 Tooltip
------------------------------------------------ */	
a.tooltip, a.tooldown{display:inline-block;}
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 2px #000000; -webkit-box-shadow: 0 0 2px #000000; -moz-box-shadow: 0 0 2px #000000; }
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }