﻿body {
	font-family: sans-serif;
	font-size: 12px;
}
label {
	float: left;
	width: 150px;
}
span {
	float: left;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
	border-color: #DFDFDF;
	background-color: white;
}
select {
	padding: 2px;
	height: 2em;
	width: 210px;
	font-family: sans-serif;
	font-size: 12px;
}
textarea, input {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	font-family: sans-serif;
	font-size: 12px;
}
input {
	padding: 3px;
	width: 200px;
	font-family: sans-serif;
	font-size: 12px;
}
textarea {
	width: 425px;
	height: 200px;
}
a.add {
	height: 35px;
	border-radius: 4px;
	font: bold 13px arial;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #5E8C22;
	background-image: #89C03E;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A8D34E),color-stop(100%,#6AAD2D));
	background: -webkit-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -moz-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -o-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: -ms-linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	background: linear-gradient(top,#A8D34E 0,#6AAD2D 100%);
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}
a.add:hover {
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#B2D862),color-stop(100%,#76C132));
	background: -webkit-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -moz-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -o-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: -ms-linear-gradient(top,#B2D862 0,#76C132 100%);
	background: linear-gradient(top,#B2D862 0,#76C132 100%);
}

#topcontrol , .ads-top, .home-ads, .ads-bottom, .ads-post, .today-date, .slider-caption p, #cats-tabs-box, .ei-slider-thumbs li img, .slider-caption p,a.random-article, .top-nav .social-icons, .search-block, .ei-title h3, .share-post span.share-text , .jp-mute , .jp-volume-bar, .separator.sep-2{display:none !important;}